$InpMainColour: #777;
$InpErrColour: #ad1212;
$InpFocColour: #111;
$InpFocBgColour: #555;

.Input {
    position: relative;
    margin: 7px 0;
    z-index: 0;
    
    &__input {
        position: relative;
        top: 0;
        left: 0;
        border: 2px solid $InpMainColour;
        border-radius: 7px;
        color: $InpMainColour;
        outline: none;
        padding: 0.5em 1em;
        background: none;
        transition: all 0.2s;

        &:focus-visible {
            transition: all 0.2s;
            border-color: $InpFocColour;
            color: $InpFocColour;
            background-color: $InpFocBgColour;
        }
        &Error {
            border-color: $InpErrColour;
        }
    }

    &__label {
        position: absolute;
        z-index: 0;
        left: 0.5em;
        top: 0.5em;
        padding: 0 2rem 0 5px;
        color: $InpMainColour;
        cursor: text;
        transition: color 0.2s, width 0.1s ease-in 0.05s, top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
        background-color: #333;

        &Error {
            color: $InpErrColour;
        }
    }

    &__visibleBtn {
        cursor: pointer;
        position: absolute;
        right: 0.5em;
        top: 50%;
        padding: 0.15em;
        border-radius: 50%;
        line-height: 0;
        color: $InpMainColour;
        transform: translate(0, -50%);
        &:hover {
            background-color: rgba(#000000, .2);
        }
    }

    .Input__input:focus-visible ~ .Input__label,
    .Input__input:not(:placeholder-shown).Input__input:not(:focus) ~ label {
        top: -0.5rem;
        left: 0.8rem;
        padding: 0 0.5rem;
        font-size: 0.8rem;
        border-radius: 4px;
        font-weight: 600;
        color: $InpFocColour;
    }
}

.ErrorMessage {
    display: inline-block;
    margin: 0px auto 5px;
    align-self: start;
    color: $InpErrColour;
    font-size: 12px;
}
