.DropDown {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    color: #000;
    background-color: #fff;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 10px;
        margin: 5px 10px;
        border-radius: 10px;
        &:hover {
            background-color: #999999;
        }
    }
    &__navLink {
        width: 100%;
    }
    &__block {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 500;
    }
    &__img {
        display: block;
        height: 40px;
        width: 40px;
        border-radius: 0.3em;
        margin-right: 10px;
    }
    &__nameNImg {
        display: flex;
        align-items: center;
    }
    &__price {
        font-size: 14px;
        font-weight: 400;
    }
    &__addBtn {
        margin: 0 0 0 0.3em;
        transition: 0.2s;
        &:hover {
            color: #fff;
            transition: 0.2s;
        }
    }
}
