$Colour1: #111;
$Colour2: #fff;
$LogoutColour: #740000;
$Width: 90%;

.Header {
   width: 100%;
   position: fixed;
   z-index: 100;
   background-color: $Colour1;
   padding: 15px 0;
   color: #fff;
   text-align: center;

   &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: $Width;
      margin: 0 auto;
   }

   &__inputContainer {
      position: relative;
   }
   &__input {
      padding: 3px 8px;
      background-color: rgba(0, 0, 0, 0);
      color: $Colour2;
      border-bottom: 2px solid $Colour2;
      transition: all 0.2s;

      &:focus-visible {
         background-color: #fff;
         color: $Colour1;
         transition: all 0.2s;
      }
   }
   &__btnBlock {
      display: flex;
      align-items: center;
   }
   &__btn {
      cursor: pointer;
      padding: 3px 10px;
      margin: 0 5px;
      border: 2px solid $Colour2;
      border-radius: 1em;
      color: #777;
      font-weight: 400;
      transition: all 0.3s;

      &:hover {
         color: $Colour1;
         background-color: $Colour2;
         transition: all 0.3s;
      }
   }

   &__cartBtn, &__favBtn {
      margin: 0 0.2em;
      line-height: 1;
      color: #fff;
   }
   &__logoutBtn {
      cursor: pointer;
      padding: 3px 10px;
      margin: 0 5px;
      border: 2px solid $LogoutColour;
      color: $LogoutColour;
      border-radius: 1em;
      background-color: rgba( #000000, 0);
      font-weight: 400;
      transition: all 0.3s;

      &:hover {
         color: $Colour1;
         background-color: $LogoutColour;
         transition: all 0.3s;
      }
   }
}
